.col-xs-12.col-md-8.col-md-offset-2
  h1 How it works
  markdown:
    Welcome to ideadash! We are a platform for people who have great ideas but don’t have the time or resources to implement them.

    We want you to post great ideas on the site, the world can see and fund those ideas, and others can submit proposals to implement those ideas. The person who posts the proposal with the most backer votes gets most of the funds that were raised in order to carry out their proposal, and the idea poster keeps a small cut.

    So you can post an idea, sit back, and your idea could make you some money while changing the world. Oh, and you can rate ideas, too. Rating ideas helps the best ideas rise to the top of the homepage.

    To hear what’s on my mind and for a little Q&A if you have any questions, please join me on Periscope this Tuesday and Thursday at 10:00 PM EST. Find me here: @ideaDash

    Happy posting, rating, funding, and implementing ideas!

    Eric Martin
    Founder & CEO of ideadash
    May 28th, 2016


    #### The process you and your idea go through (simplified):

    Starting on the first of each month and going through the end of month one

    1. You post an idea.

    2. The community (backers) raises funds for it.
    Starting on the first of the second month and going through the 21st day of month two

    3. People submit proposals to implement the idea.
    Starting on the first of the second month and going through the end of month two

    4. Backers vote on the best proposal.
    After the end of the second month (and after transaction fees are taken out)

    5. You get 10% of the funds, ideadash keeps 5%.

    6. The winning proposal gets 85% of the funds.

    7. The winner implements the idea according to their proposal.

    8. Your idea is now a reality.

    Check out the slideshow below for more details on the process and why we think ideas are a huge untapped resource.

  iframe src="//www.slideshare.net/slideshow/embed_code/key/LuyikGuIQynPzq" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;"
  div style="margin-bottom:5px"
    strong
      a href="//www.slideshare.net/EricMartin115/get-cash-for-your-idea-no-implementation-required" title="Get Cash for Your Idea: No Implementation Required" target="_blank" Get Cash for Your Idea: No Implementation Required
      '  from
      strong
        a href="//www.slideshare.net/EricMartin115" target="_blank" Eric Martin

  h3 Meet the founder

  div.pull-left.photo-wrapper
    = image_tag 'eric.png', class: 'img-circle eric-photo', alt: 'Eric Martin'
    p Eric Martin
    p Founder and CEO of ideadash inc.

  markdown:
    Eric founded ideadash so that anyone with an idea has the opportunity to make money from the idea and the opportunity to benefit others with the idea. And all of this is possible even when the person who posts the idea cannot or will not implement the idea.

    A follower of Jesus, Eric is creating and maintaining this site "in the name of the Lord Jesus, giving thanks to God the Father through him." (from the NIV, part of Colossians 3:17)

    He has a wife, Melody, and two daughters, Noelle and Grace. Previously, Eric and Melody created a card game for kids, called Animal Herders. In 2015 he won Jet.com’s nationwide marketing competition called Jet Insider. He won first place out of over 350,000 Insiders by getting over 8,000 people to signup for Jet.com before its launch later that year.

    Little known fact: Turkey Vultures are Eric’s favorite animal.

  markdown:
    Articles detailing Eric’s Jet win:

    [http://fusion.net/story/54990/guy-got-rich-using-jet/](http://fusion.net/story/54990/guy-got-rich-using-jet/)
    [http://articles.philly.com/2015-03-16/business/60141897_1_eric-martin-ron-paul-amazon](http://articles.philly.com/2015-03-16/business/60141897_1_eric-martin-ron-paul-amazon)
    [https://medium.com/@marclore/73-days-351-474-jet-insiders-ea01db0b92be#.7zajwkmqg](https://medium.com/@marclore/73-days-351-474-jet-insiders-ea01db0b92be#.7zajwkmqg)
    [http://money.cnn.com/2015/02/26/technology/jet-contest-winner-eric-martin/](http://money.cnn.com/2015/02/26/technology/jet-contest-winner-eric-martin/)

    For additional information about this site, please review our Terms of Service and Privacy Policy.

    For any other questions or comments, please email help@ideadash.com