---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        120","price":"5.00","currency":"USD","sku":"idea_106"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/106?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.8O-s_2z1ZaWwCcJxWKcK3rmGZiSiapU8SRjIf85kTxeSnMswvBdTUR6bTZUnoBSH.4LKNW3a-5qX1xRQMxn_669AmQw8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 6aa3dc89-abfa-4bbb-9341-d1ca6c85cfcf
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=563
      Paypal-Debug-Id:
      - dcf3e5de8c123
      - dcf3e5de8c123
      Correlation-Id:
      - dcf3e5de8c123
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-2R218687XU447805XK5NHVKY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 120","sku":"idea_106","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-10T08:30:35Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2R218687XU447805XK5NHVKY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-9R130314FE324225E","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2R218687XU447805XK5NHVKY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Fri, 10 Jun 2016 08:30:36 GMT
recorded_with: VCR 3.0.3
