---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        2","price":"5.00","currency":"USD","sku":"idea_2"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/2?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.B3AX0AfBdfnOJYoITZFaMlGTH6-jrvZYAUamuQjiTz75S1Ofo1ATW4YNCRDlrdwu._WPI2_6vi1FKY1_yxkbSj4_scum
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - e705b089-d68f-40a6-9346-2e57f5d775c0
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=336
      Paypal-Debug-Id:
      - 1b6a6566db729
      - 1b6a6566db729
      Correlation-Id:
      - 1b6a6566db729
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-04S36716N90724614K5MXIMY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 2","sku":"idea_2","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-09T13:50:42Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-04S36716N90724614K5MXIMY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-6AN10900M30425155","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-04S36716N90724614K5MXIMY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 09 Jun 2016 13:50:43 GMT
recorded_with: VCR 3.0.3
