---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        119","price":"5.00","currency":"USD","sku":"idea_105"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/105?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.8O-s_2z1ZaWwCcJxWKcK3rmGZiSiapU8SRjIf85kTxeSnMswvBdTUR6bTZUnoBSH.4LKNW3a-5qX1xRQMxn_669AmQw8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - c5d57eef-6d5f-4377-ad1f-baa9ac6c7723
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=417
      Paypal-Debug-Id:
      - a218c0014db3d
      - a218c0014db3d
      Correlation-Id:
      - a218c0014db3d
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-8TN770883K409294DK5NHVKQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 119","sku":"idea_105","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-10T08:30:34Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-8TN770883K409294DK5NHVKQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-72K38258N4625640P","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-8TN770883K409294DK5NHVKQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Fri, 10 Jun 2016 08:30:34 GMT
recorded_with: VCR 3.0.3
