---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        2","price":"5.00","currency":"USD","sku":"idea_2"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/2?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.B3AX0AfBdfnOJYoITZFaMlGTH6-jrvZYAUamuQjiTz75S1Ofo1ATW4YNCRDlrdwu._WPI2_6vi1FKY1_yxkbSj4_scum
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - cc75ecb5-fdcf-488f-a701-0b6828aae8fc
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=596
      Paypal-Debug-Id:
      - a07fbb729363f
      - a07fbb729363f
      Correlation-Id:
      - a07fbb729363f
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-24W991826H246330KK5MXBFI","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 2","sku":"idea_2","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-09T13:35:17Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-24W991826H246330KK5MXBFI","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-90M86344MX835850G","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-24W991826H246330KK5MXBFI/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 09 Jun 2016 13:35:18 GMT
recorded_with: VCR 3.0.3
