---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        109","price":"5.00","currency":"USD","sku":"idea_95"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/95?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.8O-s_2z1ZaWwCcJxWKcK3rmGZiSiapU8SRjIf85kTxeSnMswvBdTUR6bTZUnoBSH.4LKNW3a-5qX1xRQMxn_669AmQw8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 474eefb3-1b8d-4414-b5ae-80f3e1dbeb53
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=560
      Paypal-Debug-Id:
      - e67c2bbb62687
      - e67c2bbb62687
      Correlation-Id:
      - e67c2bbb62687
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-15K53152S5548111VK5NHVJQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 109","sku":"idea_95","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-10T08:30:30Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-15K53152S5548111VK5NHVJQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-7UE787015E992442S","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-15K53152S5548111VK5NHVJQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Fri, 10 Jun 2016 08:30:30 GMT
recorded_with: VCR 3.0.3
