---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        110","price":"5.00","currency":"USD","sku":"idea_96"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/96?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.8O-s_2z1ZaWwCcJxWKcK3rmGZiSiapU8SRjIf85kTxeSnMswvBdTUR6bTZUnoBSH.4LKNW3a-5qX1xRQMxn_669AmQw8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 115b62f7-9a4a-4261-a6cb-137854d1f7bc
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=197
      Paypal-Debug-Id:
      - 64e4085aa4950
      - 64e4085aa4950
      Correlation-Id:
      - 64e4085aa4950
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-9YU79695CP723542RK5NHVJY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 110","sku":"idea_96","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-10T08:30:31Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-9YU79695CP723542RK5NHVJY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-6H286962LE650194H","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-9YU79695CP723542RK5NHVJY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Fri, 10 Jun 2016 08:30:32 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/PAY-9YU79695CP723542RK5NHVJY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer A101.8O-s_2z1ZaWwCcJxWKcK3rmGZiSiapU8SRjIf85kTxeSnMswvBdTUR6bTZUnoBSH.4LKNW3a-5qX1xRQMxn_669AmQw8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=188
      Paypal-Debug-Id:
      - 2afbc929e37f7
      - 2afbc929e37f7
      Correlation-Id:
      - 2afbc929e37f7
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-9YU79695CP723542RK5NHVJY","intent":"sale","state":"created","cart":"6H286962LE650194H","transactions":[{"amount":{"total":"5.00","currency":"USD"},"payee":{"email":"borzik1992-facilitator@gmail.com"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 110","sku":"idea_96","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"billing_plan_units":[{"billing_plan_approved":false}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback?paymentId=PAY-9YU79695CP723542RK5NHVJY","cancel_url":"http://ideadash.dev:3000/ideas/96?status=canceled"},"create_time":"2016-06-10T08:30:31Z","update_time":"2016-06-10T08:30:33Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-9YU79695CP723542RK5NHVJY","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-9YU79695CP723542RK5NHVJY/execute","rel":"execute","method":"POST"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-6H286962LE650194H","rel":"approval_url","method":"REDIRECT"}]}'
  recorded_at: Fri, 10 Jun 2016 08:30:33 GMT
recorded_with: VCR 3.0.3
