---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        97","price":"5.00","currency":"USD","sku":"idea_85"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/85?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.8O-s_2z1ZaWwCcJxWKcK3rmGZiSiapU8SRjIf85kTxeSnMswvBdTUR6bTZUnoBSH.4LKNW3a-5qX1xRQMxn_669AmQw8
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 6e3c4c59-155a-4568-82e6-2e90bb3f3d20
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=544
      Paypal-Debug-Id:
      - 20595b79a17c5
      - 20595b79a17c5
      Correlation-Id:
      - 20595b79a17c5
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-5LN12128MD003624BK5NHZ7I","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 97","sku":"idea_85","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-10T08:40:29Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-5LN12128MD003624BK5NHZ7I","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4YS52638T6039824A","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-5LN12128MD003624BK5NHZ7I/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Fri, 10 Jun 2016 08:40:30 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/PAY-5LN12128MD003624BK5NHZ7I
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer A101.8O-s_2z1ZaWwCcJxWKcK3rmGZiSiapU8SRjIf85kTxeSnMswvBdTUR6bTZUnoBSH.4LKNW3a-5qX1xRQMxn_669AmQw8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=353
      Paypal-Debug-Id:
      - 51b5ac58c1ee6
      - 51b5ac58c1ee6
      Correlation-Id:
      - 51b5ac58c1ee6
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-5LN12128MD003624BK5NHZ7I","intent":"sale","state":"created","cart":"4YS52638T6039824A","transactions":[{"amount":{"total":"5.00","currency":"USD"},"payee":{"email":"borzik1992-facilitator@gmail.com"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 97","sku":"idea_85","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"billing_plan_units":[{"billing_plan_approved":false}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback?paymentId=PAY-5LN12128MD003624BK5NHZ7I","cancel_url":"http://ideadash.dev:3000/ideas/85?status=canceled"},"create_time":"2016-06-10T08:40:29Z","update_time":"2016-06-10T08:40:30Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-5LN12128MD003624BK5NHZ7I","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-5LN12128MD003624BK5NHZ7I/execute","rel":"execute","method":"POST"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4YS52638T6039824A","rel":"approval_url","method":"REDIRECT"}]}'
  recorded_at: Fri, 10 Jun 2016 08:40:31 GMT
recorded_with: VCR 3.0.3
