---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVYtcGYxMXhySTg5QUJpckUyV0hub1RpN1pxVWFpXzJWS2daLWRra2k1OGxKenVIT2IwNW5oRHlkMVV0VW5WLXFkeUI0X21DaDNfREd5dHE6RUZwakpkOEdXTzFUNHJDZXhXZjQ5XzRZcFJfRE10SGQtdlBJcXpiZHlNWEc4M0haakEtMHdHWGdaSjI4NER3RGlIbHBaODZrZnlOSjhORU8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=386
      Paypal-Debug-Id:
      - d55e2b04c2873
      - d55e2b04c2873
      Correlation-Id:
      - d55e2b04c2873
      X-Paypal-Token-Service:
      - IAAS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*","nonce":"2016-06-09T13:35:14ZIQ216SfMMeOoNLUnvBDOFrpk3EUZW6QXky7L8Xr2BBI","access_token":"A101.B3AX0AfBdfnOJYoITZFaMlGTH6-jrvZYAUamuQjiTz75S1Ofo1ATW4YNCRDlrdwu._WPI2_6vi1FKY1_yxkbSj4_scum","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400}'
  recorded_at: Thu, 09 Jun 2016 13:35:14 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        1","price":"5.00","currency":"USD","sku":"idea_1"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/1?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.B3AX0AfBdfnOJYoITZFaMlGTH6-jrvZYAUamuQjiTz75S1Ofo1ATW4YNCRDlrdwu._WPI2_6vi1FKY1_yxkbSj4_scum
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 6d6fd98b-1b08-4d2a-8078-e800525b20a4
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=377
      Paypal-Debug-Id:
      - a80067db2e41a
      - a80067db2e41a
      Correlation-Id:
      - a80067db2e41a
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-76601489VB140345MK5MXBEY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 1","sku":"idea_1","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-09T13:35:15Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-76601489VB140345MK5MXBEY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4NY44717G1628013R","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-76601489VB140345MK5MXBEY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 09 Jun 2016 13:35:15 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/PAY-76601489VB140345MK5MXBEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer A101.B3AX0AfBdfnOJYoITZFaMlGTH6-jrvZYAUamuQjiTz75S1Ofo1ATW4YNCRDlrdwu._WPI2_6vi1FKY1_yxkbSj4_scum
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=207
      Paypal-Debug-Id:
      - 27e5ace49726d
      - 27e5ace49726d
      Correlation-Id:
      - 27e5ace49726d
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-76601489VB140345MK5MXBEY","intent":"sale","state":"created","cart":"4NY44717G1628013R","transactions":[{"amount":{"total":"5.00","currency":"USD"},"payee":{"email":"borzik1992-facilitator@gmail.com"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 1","sku":"idea_1","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback?paymentId=PAY-76601489VB140345MK5MXBEY","cancel_url":"http://ideadash.dev:3000/ideas/1?status=canceled"},"create_time":"2016-06-09T13:35:15Z","update_time":"2016-06-09T13:35:16Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-76601489VB140345MK5MXBEY","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-76601489VB140345MK5MXBEY/execute","rel":"execute","method":"POST"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4NY44717G1628013R","rel":"approval_url","method":"REDIRECT"}]}'
  recorded_at: Thu, 09 Jun 2016 13:35:16 GMT
recorded_with: VCR 3.0.3
