---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        25","price":"5.00","currency":"USD","sku":"idea_15"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/15?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.QE4xm7gFrB6rrVuFiM5Fg5108d6V8JpCR6g1eSek_-hNPU-Gi6PWYtRL0uQv732q.BrhIPAx8sMm0fwxustEJ1UhpdhS
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - fda33495-bba4-4775-bc7e-9e8c13454f52
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=209
      Paypal-Debug-Id:
      - d7e2c7df5c2cb
      - d7e2c7df5c2cb
      Correlation-Id:
      - d7e2c7df5c2cb
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-86G76358NN0311040K5MYGGQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 25","sku":"idea_15","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-09T14:54:18Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-86G76358NN0311040K5MYGGQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-89614039391097640","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-86G76358NN0311040K5MYGGQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 09 Jun 2016 14:54:18 GMT
recorded_with: VCR 3.0.3
