---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVYtcGYxMXhySTg5QUJpckUyV0hub1RpN1pxVWFpXzJWS2daLWRra2k1OGxKenVIT2IwNW5oRHlkMVV0VW5WLXFkeUI0X21DaDNfREd5dHE6RUZwakpkOEdXTzFUNHJDZXhXZjQ5XzRZcFJfRE10SGQtdlBJcXpiZHlNWEc4M0haakEtMHdHWGdaSjI4NER3RGlIbHBaODZrZnlOSjhORU8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=536
      Paypal-Debug-Id:
      - bdc73a2db3682
      - bdc73a2db3682
      Correlation-Id:
      - bdc73a2db3682
      X-Paypal-Token-Service:
      - IAAS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*","nonce":"2016-06-09T10:07:27ZjFyGoEdsqiwor7_KhEo-LQ_xCkY34zYkD2fbKlobDnQ","access_token":"A101.QE4xm7gFrB6rrVuFiM5Fg5108d6V8JpCR6g1eSek_-hNPU-Gi6PWYtRL0uQv732q.BrhIPAx8sMm0fwxustEJ1UhpdhS","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400}'
  recorded_at: Thu, 09 Jun 2016 10:07:28 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        50","price":"5.00","currency":"USD","sku":"idea_36"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/36?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.QE4xm7gFrB6rrVuFiM5Fg5108d6V8JpCR6g1eSek_-hNPU-Gi6PWYtRL0uQv732q.BrhIPAx8sMm0fwxustEJ1UhpdhS
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 3ca067b3-abce-4dec-889b-88077c4e86cb
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=210
      Paypal-Debug-Id:
      - f1f8c9dcbbb01
      - f1f8c9dcbbb01
      Correlation-Id:
      - f1f8c9dcbbb01
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-2GG062410G036830SK5MT7YI","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 50","sku":"idea_36","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-09T10:07:28Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2GG062410G036830SK5MT7YI","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-36K32109A0109264L","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2GG062410G036830SK5MT7YI/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 09 Jun 2016 10:07:29 GMT
recorded_with: VCR 3.0.3
