---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVYtcGYxMXhySTg5QUJpckUyV0hub1RpN1pxVWFpXzJWS2daLWRra2k1OGxKenVIT2IwNW5oRHlkMVV0VW5WLXFkeUI0X21DaDNfREd5dHE6RUZwakpkOEdXTzFUNHJDZXhXZjQ5XzRZcFJfRE10SGQtdlBJcXpiZHlNWEc4M0haakEtMHdHWGdaSjI4NER3RGlIbHBaODZrZnlOSjhORU8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=287
      Paypal-Debug-Id:
      - 213fdbaceae7
      - 213fdbaceae7
      Correlation-Id:
      - 213fdbaceae7
      X-Paypal-Token-Service:
      - IAAS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*","nonce":"2016-06-09T09:41:17ZZe5YV3so2GIhrlQSbiCWO70IEW6qnm98tfYryaKLnRw","access_token":"A101.Wz-Wxtd2vejFOAbjd2_vQV3e_XQymTZ-LkXgFwh_BwWTSDUgr1q5GDFCjpCDd_7q.TFuq14fRI9SXtVIvxSrJDKXdF_u","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400}'
  recorded_at: Thu, 09 Jun 2016 09:41:17 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        1","price":"5.00","currency":"USD","sku":"idea_1"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/1?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.Wz-Wxtd2vejFOAbjd2_vQV3e_XQymTZ-LkXgFwh_BwWTSDUgr1q5GDFCjpCDd_7q.TFuq14fRI9SXtVIvxSrJDKXdF_u
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 90b49611-3787-445e-a164-6d6a141c478c
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3001.slc.paypal.com;threadId=489
      Paypal-Debug-Id:
      - fd989fca485d5
      - fd989fca485d5
      Correlation-Id:
      - fd989fca485d5
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-98E69787SF176421TK5MTTPQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 1","sku":"idea_1","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-09T09:41:18Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-98E69787SF176421TK5MTTPQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-1B123566X01195920","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-98E69787SF176421TK5MTTPQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 09 Jun 2016 09:41:18 GMT
recorded_with: VCR 3.0.3
