doctype xml
urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  url
    loc= root_url
    lastmod= Date.today.beginning_of_day.iso8601
    changefreq = 'always'
    priority 1
  url
    loc= about_url
    lastmod= Date.today.beginning_of_day.iso8601
    changefreq = 'weekly'
    priority 1
  url
    loc= ideas_url
    lastmod= Date.today.beginning_of_day.iso8601
    changefreq = 'always'
    priority 1
  - Idea.all.each do |idea|
    url
      loc= idea_url(idea)
      lastmod= idea.updated_at.iso8601
      - if idea.posted_at > 2.months.ago
        changefreq = 'daily'
        priority 1
      - elsif idea.posted_at > 6.months.ago
        changefreq = 'monthly'
        priority 0.5
      - else
        changefreq = 'yearly'
        priority 0.4
