---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVYtcGYxMXhySTg5QUJpckUyV0hub1RpN1pxVWFpXzJWS2daLWRra2k1OGxKenVIT2IwNW5oRHlkMVV0VW5WLXFkeUI0X21DaDNfREd5dHE6RUZwakpkOEdXTzFUNHJDZXhXZjQ5XzRZcFJfRE10SGQtdlBJcXpiZHlNWEc4M0haakEtMHdHWGdaSjI4NER3RGlIbHBaODZrZnlOSjhORU8=
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=260
      Paypal-Debug-Id:
      - c72f578ae9001
      - c72f578ae9001
      Correlation-Id:
      - c72f578ae9001
      X-Paypal-Token-Service:
      - IAAS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*","nonce":"2016-06-09T10:07:27ZjFyGoEdsqiwor7_KhEo-LQ_xCkY34zYkD2fbKlobDnQ","access_token":"A101.QE4xm7gFrB6rrVuFiM5Fg5108d6V8JpCR6g1eSek_-hNPU-Gi6PWYtRL0uQv732q.BrhIPAx8sMm0fwxustEJ1UhpdhS","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32177}'
  recorded_at: Thu, 09 Jun 2016 10:11:10 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"5.00"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"quantity":"1","name":"Funding of Idea
        5","price":"5.00","currency":"USD","sku":"idea_1"}]}}],"redirect_urls":{"return_url":"http://ideadash.dev:3000/payments/callback","cancel_url":"http://ideadash.dev:3000/ideas/1?status=canceled"}}'
    headers:
      Authorization:
      - Bearer A101.QE4xm7gFrB6rrVuFiM5Fg5108d6V8JpCR6g1eSek_-hNPU-Gi6PWYtRL0uQv732q.BrhIPAx8sMm0fwxustEJ1UhpdhS
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 02ab7975-bc92-471a-ad7e-3633f93af1a5
  response:
    status:
      code: 201
      message: Created
    headers:
      Proxy-Server-Info:
      - host=slcsbplatformapiserv3002.slc.paypal.com;threadId=568
      Paypal-Debug-Id:
      - e32d1d8ad58a0
      - e32d1d8ad58a0
      Correlation-Id:
      - e32d1d8ad58a0
      Content-Language:
      - "*"
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-818858448L002494YK5MUBPY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"5.00","currency":"USD"},"description":"IdeaDash
        idea funding.","item_list":{"items":[{"name":"Funding of Idea 5","sku":"idea_1","price":"5.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2016-06-09T10:11:10Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-818858448L002494YK5MUBPY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-9U076674BL092364E","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-818858448L002494YK5MUBPY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 09 Jun 2016 10:11:11 GMT
recorded_with: VCR 3.0.3
