.subscribe-header
  @include make-xs-column(12)
  @include make-sm-column(8)
  @include make-sm-column-offset(2)
  @include make-md-column(6)
  @include make-md-column-offset(3)
  @include make-lg-column(6)
  @include make-lg-column-offset(3)
  text-align: center
  @media screen and (min-width: $screen-sm-min)
    margin-top: 5vh
  .simple_form
    @include make-xs-column(12)
    @include make-lg-column(8)
    @include make-lg-column-offset(2)
.eric-photo
  width: 200px
.photo-wrapper
  margin-right: 20px
  margin-bottom: 20px

$google-color: #4285f4
$facebook-color: #3b5998
.btn-google
  @include button-variant($btn-primary-color, $google-color, $google-color)
.btn-facebook
  @include button-variant($btn-primary-color, $facebook-color, $facebook-color)

.navbar.navbar-default
  background-image: linear-gradient(0deg, #FFFFFF 0%, #F7F7F7 100%)
